<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SQLCONN" value="RGF0YSBTb3VyY2U9REVTS1RPUC1WN1RGNUlKXEVSR1VOUEM7IFBhY2tldCBTaXplPTQwOTY7IFVzZXIgSWQ9c2E7IEluaXRpYWwgQ2F0YWxvZz1FTUZUcmFuOyBQZXJzaXN0IFNlY3VyaXR5IEluZm89RmFsc2U7IFBhc3N3b3JkPXNhMTIuOjsgQ29ubmVjdGlvbiBUaW1lb3V0PTkwMDsgTXVsdGlwbGVBY3RpdmVSZXN1bHRTZXRzPVRydWU7" />
		<add key="SQLLOGOCONN" value="RGF0YSBTb3VyY2U9REVTS1RPUC1WN1RGNUlKXEVSR1VOUEM7IFBhY2tldCBTaXplPTQwOTY7IFVzZXIgSWQ9c2E7IEluaXRpYWwgQ2F0YWxvZz1MT0dPREFUQTI7IFBlcnNpc3QgU2VjdXJpdHkgSW5mbz1GYWxzZTsgUGFzc3dvcmQ9c2ExMi46OyBDb25uZWN0aW9uIFRpbWVvdXQ9OTAwOyBNdWx0aXBsZUFjdGl2ZVJlc3VsdFNldHM9VHJ1ZTs=" />
		<add key="OBJUSER" value="LOGO" />
		<add key="OBJPASS" value="bG9nbw==" />
	
		<!--Uygulama sql string base64--><!--
		<add key="SQLCONN" value="" />

		--><!--LOGO sql string base64--><!--
		<add key="SQLLOGOCONN" value="" />

		--><!--LOGO Object kullanici adi base64--><!--
		<add key="OBJUSER" value="" />

		--><!--LOGO Objects kullanici sifre--><!--
		<add key="OBJPASS" value="" />-->
	</appSettings>
</configuration>