<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SQLCONN" value="" />
		<add key="SQLLOGOCONN" value="" />
		<add key="OBJUSER" value="XXXX" />
		<add key="OBJPASS" value="XXXX" />
	
		<!--Uygulama sql string base64--><!--
		<add key="SQLCONN" value="" />

		--><!--LOGO sql string base64--><!--
		<add key="SQLLOGOCONN" value="" />

		--><!--LOGO Object kullanici adi base64--><!--
		<add key="OBJUSER" value="" />

		--><!--LOGO Objects kullanici sifre--><!--
		<add key="OBJPASS" value="" />-->
	</appSettings>
</configuration>
