<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--LOGO sql string-->
    <!--<add key="SQLLOGOCONN" value="RGF0YSBTb3VyY2U9TE9HTy1EQjsgUGFja2V0IFNpemU9NDA5NjsgVXNlciBJZD1zYTsgSW5pdGlhbCBDYXRhbG9nPUdrMnYzOyBQZXJzaXN0IFNlY3VyaXR5IEluZm89RmFsc2U7IFBhc3N3b3JkPUVtZWtsaWVyMTk5MjsgQ29ubmVjdGlvbiBUaW1lb3V0PTkwMDsgTXVsdGlwbGVBY3RpdmVSZXN1bHRTZXRzPVRydWU7" />-->
	  <add key="SQLLOGOCONN" value="RGF0YSBTb3VyY2U9REVTS1RPUC1WN1RGNUlKXEVSR1VOUEM7IFBhY2tldCBTaXplPTQwOTY7IFVzZXIgSWQ9c2E7IEluaXRpYWwgQ2F0YWxvZz1MT0dPREFUQTI7IFBlcnNpc3QgU2VjdXJpdHkgSW5mbz1GYWxzZTsgUGFzc3dvcmQ9c2ExMi46OyBDb25uZWN0aW9uIFRpbWVvdXQ9OTAwOyBNdWx0aXBsZUFjdGl2ZVJlc3VsdFNldHM9VHJ1ZTs=" />
    <!--LOGO Object kullanici adi-->
    <add key="OBJUSER" value="LOGO" />
    <!--LOGO Objects kullanici sifre-->
    <add key="OBJPASS" value="TE9HTzE0NTM=" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>